<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Date saved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @webmarks.each do |webmark| %>
  <tr>
    <td><%= webmark.name %></td>
    <td><%= webmark.url %></td>
    <td><%= webmark.date_saved %></td>
    <td><%= link_to 'Show', webmark %></td>
  </tr>
<% end %>
</table>

